body {
    background-color: black;
    color: ghostwhite;
    font-family: 'Staatliches', cursive;
}

nav {
    text-align: center;
    height: auto;
    background-color: transparent;
}

h4, h6 {
    background-color: #b0151f;
    padding: 9px;
    border-radius: 10px;
    display: flex;
}

#modal {
    width: fit-content;
}

<<<<<<< HEAD
body{
/* background-color:black; */
background-image: url("altbg.jpg");
background-size: cover;
=======
#title, #actors, #plot, #rating, #release {
    color: black;
>>>>>>> 56331222594d8203d6063a6448403b22b9b9fd63
}

#row2 {
    background-color: rgb(216, 36, 36);
}

#submit-btn {
    float: right;
    border-radius: 7px;
    background-color: #b0151f;
}

<<<<<<< HEAD

#instructions{
 
    color:rgb(227, 233, 231);


}



/* #search {
    background: black;
} */
=======
.container {
    border-radius: 10px;
}
>>>>>>> 56331222594d8203d6063a6448403b22b9b9fd63
