#search-column{
    background-color: rgb(216, 36, 36);
    border-style: solid;
    border-color: rgb(117, 33, 33);
    border-width: 3px;
    border-style: solid;
    border-radius:10px;
}

#search-header{
    color: rgb(236, 242, 238);
    font-weight: bold;

}

#submit-btn{
    float: right;
    border-radius: 7px;
    background-color: rgb(236, 242, 238);
}

#rule{
    border-color: black;
}

body{
background-color:black;
}

#search-bar{

    color: rgb(236, 242, 238);

}
/* body {
    background-color:rgb(137,1,0);
} */
nav {
    background-color: black;
    text-align: center;
    height: auto;
}

#search {
    background: black;
}