body {
    background-color: black;
    color: ghostwhite;
    font-family: 'Staatliches', cursive;
}

nav {
    text-align: center;
    height: auto;
    background-color: transparent;
}

h4, h6 {
    background-color: #b0151f;
    padding: 9px;
    border-radius: 10px;
    display: flex;
}

#modal {
    width: fit-content;
}

#title, #actors, #plot, #rating, #release {
    color: black;
}

#row2 {
    background-color: rgb(216, 36, 36);
}

#submit-btn {
    float: right;
    border-radius: 7px;
    background-color: #b0151f;
}

.container {
    border-radius: 10px;
}
